!!! 5
html
  head
    script(src='../../extern/jquery-1.7.1.js')
    script(src='../../extern/jquery-ui/jquery-ui-1.8.16.custom.min.js')

    link(rel='stylesheet', href='../styles/reset.css')

    link(rel='stylesheet', href='../../extern/jquery-ui/jquery-ui-1.8.16.custom.css')

    link(rel='stylesheet', href='../styles/list.css')
  
  body
    .list.small.left
      h3.ui-widget-header Karen
      ul.ui-widget-content
        li Eat
        li Clean
        li Die

    .list.big
      h3.ui-widget-header You
      ul.ui-widget-content
        li Sleep
        li Swim
        li Sweep

    .list.small.right
      h3.ui-widget-header Jim
      ul.ui-widget-content
        li Drive
        li Stop
        li Capture

    .list.small.right
      h3.ui-widget-header Buck
      ul.ui-widget-content
        li Climb
        li Fall
        li Rise
